<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/description.css">
    <script src="/script/delete_req/delete_anime.js"></script>
    <%- include("./partials/header.ejs") %>

        <body>
            <main>
                <img src="<%= content.link %>" alt="<%= content.Name %>">
                <h1>
                    <%= content.Name %>
                </h1>

                <div>
                    <% if(content.Episodes){ %>
                        <h3> Episodes: <%= content.Episodes %>
                        </h3>
                        <% } %>
                        <h3>Created By: <%= content.createdBy %></h3>
                            <%=content.Description %>
                </div>
            </main>
            <% if(user.user === content.createdBy) {%>
            <% if(content.Episodes){ %>
                <button class="delete deleteAnime" data-id="<%= content._id %>">Delete</button>
                <% } else{%>
                    <button class="delete deleteGame" data-id="<%= content._id %>">Delete</button>
                    <% } %>
                    <% } %>
                        <%- include("./partials/footer") %>
        </body>

        </html>