<%- include("./partials/head.ejs")%>
<link rel="stylesheet" href="/css/profile.css">
<script defer src="/script/update_req/update_user_bio.js"></script>
  <%- include("./partials/header.ejs")%>
<body>



 <h1><%= name %></h1>
 <% if(user){ %>
<% if(userData.name === user.name){ %>
    <form id="updateBio" action="/update/userBio">
    <label for="userBio">About Me:</label>
    <textarea name="userBio" id="userBio"><%= userData.aboutMe  %></textarea>
    <input type="hidden" id="userName" name="userName" value="<%= user._id %>">
    <button type="submit">Update Info</button>
    </form>
 <% } else{%>
     <p><%= userData.aboutMe  %></p>
   <% } %> 
    <% }else{ %>
    <p><%= userData.aboutMe  %></p>
    <% } %>





  <section id="TopSection">
      <h2>Creations</h2>
      <hr id="topLine">
    </section>
  <main>
    <% if(games.length > 0 && anime.length > 0 ){ %>
    <% if (games.length > 0) {%>
            <section class="dataSection">
        <h3>Game</h3>
        <hr>
        <% console.log("Users Games loaded") %> 
        <% games.forEach(data => { %>
        <a href="/result/<%= data._id %>">

            <img src="<%= data.link %>" alt="<%= data.Name %>" />
            <h4><%= data.Name %></h4>
          
        </a>
        <% }) %> 
            </section>
        <% } %>
      
      
        
        <%if (anime.length > 0){ %>
            <section class="dataSection">
        <h3>Anime</h3>
         <hr>
        <% anime.forEach(data =>{ %>
        <a href="/result/<%= data._id %>">
          
            <img src="<%= data.link %>" alt="" />
            <h4><%= data.Name %></h4>
          
        </a>
        <% })%> 
            </section>
        <% } %>

        <% }else{ %>
            <h1>This User has not any creations!!</h1>
            <% } %>
  </main>
</body>
    

    

   <%- include("./partials/footer") %>
  </body>
</html>
